<!DOCTYPE html>
<html>
<head>
    <title>Donate Data to Duke</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form-style.css') }}">
</head>
<body>
    <!-- Displaying logged-in user's name -->
    {% if user %}
        <div class="user-info">
            Welcome, {{ user }}
        </div>
    {% endif %}
    <div class="centered-container">
        <h1>Upload File to Duke CREATE</h1>
        <div id="subheader">
            <p>We welcome any academic content for use training AI models to be delployed for Duke community access. This data is securely protected by the CREATE Lab and will not be moved outside of Duke. More information can be found at https://sites.duke.edu/createcenter/</p>
        </div>
        <form method="post" action="{{ url_for('app_routes.upload_file') }}" enctype="multipart/form-data">
            <label for="description">Subject:</label>
            <input type="text" id="subject" name="subject" required><br><br>

            <label for="file">File:</label>
            <input type="file" id="file" name="file" required><br><br>

            <label for="copyright-confirmation">
                <input type="checkbox" id="copyright-confirmation" name="copyright-confirmation" required>
                By checking this box, I confirm copyright ownership over all uploaded documents and give permission to Duke CREATE to use said data.
            </label><br><br>

            <input type="submit" value="Upload">
        </form>
    </div>
    {% if message %}
        <input type="hidden" id="uploadMessage" value="{{ message }}">

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                var uploadMessage = document.getElementById('uploadMessage').value;
                alert(uploadMessage);
                window.location.href = "{{ url_for('app_routes.index') }}";
            });
        </script>
    {% endif %}
</body>
</html>
